In [1]:
x = set()

Below is a good example of a list comprehension that replaces multiple lines of code with one line.  We then multiplied the list to get lots of duplicates which we then removed by casting the variable as a set.  Then we changed the data structure back to a list by casting it as a list.

In [4]:
lst = [i for i in range(0,10)]

In [5]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
lst2 = lst*3

In [9]:
lst3 = set(lst2)

In [12]:
list(lst3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

We can add conditionals to or boolean to a list comprehension in line.

In [23]:
lst = [i for i in range(25) if i % 7 == 0]

In [18]:
lst

[0, 7, 14, 21]

    A classic usage example converts Celsius to Fahrenheit.

In [1]:
C = [0, 100, 23, 40]
F = [((9/5)*temp + 32) for temp in C]
F

[32.0, 212.0, 73.4, 104.0]