In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

After importing the generic numpy, pandas, Series,DataFrame from pandas
You are able to .read csv files into a table in jupyter.  Then all previously learned manipulation becomes possible.
Note that the first row is taken as the header very much like many spreadsheet programs.

In [12]:
dframe = pd.read_csv('NumpyCsvTraining.csv')
dframe

,Timestamp,CAM OPERATOR BADGE#,SCAN CASE NUMBER,DEFECT CATEGORY,DEFECT DESCRIPTION,LOCATION WHEN DAMAGED WAS NOTICED
0,3/2/2020 6:52:14,TSCHAFFER,SARA101520007444,LOST / MISSING,MISSING DURING MATCHING,IN CAM
1,3/2/2020 10:00:53,ABEVELL,ROLO101520006852,BROKEN / CHIPPED / CRACKED,CRACKED,POST CAM
2,3/2/2020 10:39:19,ABEVELL,ROLO101520007525,BROKEN / CHIPPED / CRACKED,BROKEN,POST CAM
3,3/2/2020 11:08:36,ABEVELL,ROLO101520007525,BROKEN / CHIPPED / CRACKED,BROKEN,POST CAM
4,3/2/2020 11:51:18,ABEVELL,ROLO101520007847,MILLING / NESTING ERROR,CHIPPED IN MILL,IN CAM
...,...,...,...,...,...,...
295,3/27/2020 8:47:29,TSCHAFFER,ROLO101520010886,SHADE / MATERIAL INCORRECT or CHANGED,TOO OPAQUE,POST CAM
296,3/28/2020 9:00:17,jsmolen,ROLO101520009404,"FIT -- tight, loose, rocks, etc., etc., ...",pooor fit,POST CAM
297,3/28/2020 9:14:56,jsmolen,ROLO101520010886,OTHER,opaque,POST CAM
298,3/28/2020 9:50:45,jsmolen,SARA101520010971,OTHER,opaque,POST CAM
299,3/28/2020 10:53:52,jsmolen,SARA101520010971,BROKEN / CHIPPED / CRACKED,puck broke in mill,IN CAM

In [13]:
dframe.describe()

,Timestamp,CAM OPERATOR BADGE#,SCAN CASE NUMBER,DEFECT CATEGORY,DEFECT DESCRIPTION,LOCATION WHEN DAMAGED WAS NOTICED
count,300,300,300,300,295,300
unique,300,12,252,9,195,2
top,3/17/2020 14:59:29,ABEVELL,ROLO101520005758,BROKEN / CHIPPED / CRACKED,TOO OPAQUE,POST CAM
freq,1,72,4,65,22,186

We can also save as an excel file by using the statement below.  We can also use to_csv('NumpyCsvTraining.csv') to save as csv file.  It all still works flawlessly:)

In [16]:
dframe.to_excel('NumpyCsvTraining.xlsx')

In [3]:
#To avoid the first row automatically becoming the header,
#you can prevent with header=None
dframe = pd.read_csv('CSVSample.csv',header = None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

We can also import csv files by using a read_table method (must add separator to work) as shown below.

In [4]:
dframe = pd.read_table('CSVSample.csv',sep=',',header = None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

To export a file as a csv, we can do so by doing what is shown below.

In [5]:
dframe.to_csv('mytextdata_out.csv')

In [6]:
import sys

In [7]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [8]:
dframe.to_csv(sys.stdout, sep='_')
dframe

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [9]:
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

The point of the import of sys was to facilitate viewing of csv files without using notepad and not needing to constantly change dframe.

JSON with python and pandas.  What looks like a dictionary below is a json file.  WE can change it to something usable in pandas by using the variable = jason.loads(name of json_obj) method.

In [42]:
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [43]:
import json

In [44]:
data = json.loads(json_obj)

In [45]:
data

{'zoo_animal': 'Lion',
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'clothes': None,
 'diet': [{'zoo_animal': 'Gazelle', 'food': 'grass', 'fur': 'Brown'}]}

We can change it back to json by using the json.dumps(variable name) method.

In [21]:
json.dumps(data)

'{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}'

In [49]:
dframe=DataFrame([data])

In [50]:
dframe

,zoo_animal,food,fur,clothes,diet
0,Lion,"[Meat, Veggies, Honey]",Golden,None,"[{'zoo_animal': 'Gazelle', 'food': 'grass', 'f..."

In [53]:
dframe=DataFrame(data['diet'])
dframe

  zoo_animal   food    fur
0    Gazelle  grass  Brown

html with python and pandas

In [55]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from pandas import read_html

In [84]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

In [85]:
dframe_list=pd.io.html.read_html(url)

In [58]:
dframe = dframe_list[0]
dframe

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
1,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
2,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
3,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
4,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019"
...,...,...,...,...,...,...
555,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
556,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
557,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
558,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
559,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

In [62]:
dframe.columns.values

array(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date'], dtype=object)

on a side note, here is how to open a pdf file with python. I figured this out after one of the sites I tried to scrape for info gave me a pdf that threw errors using the html reader option.  First I had to pip install PyPDF2. Then I had to import it.

In [77]:
import PyPDF2
#We assing the pdf to an python object with this open line and we tell it to do it in 'read binary mode' with the ,'rb'
pdfFileObj= open('Sample.pdf','rb')
#We then take the binary object and assing it to an object readable to us with PyPDR2.PdfFileReader(binary object variable)
#shown below:
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)
#Then we make sure we don't walk into surprises by checking the number of pages with this method below:
pdfReader.numPages

1

In [76]:
#Here we create a page object that holds a single page of readable text.  Our pdf was only one page,
#but I wanted to include it for future reference.
pageObj=pdfReader.getPage(0)
#then we use the .extractText() method to show a string of our page of text.
pageObj.extractText()

'1\n \n \n \n \n \nNORTH DAKOTA INDUSTR\nIAL COMMISSION\n \n \n  \n \nDATE:\n \nMarch \n2\n7\n, \n \n2020\n \n     \nDA\nILY REPORT: \n179\n8\n4\n \n \nPERMITS APPROVE\nD:\n \n#374\n7\n7 \n\n \nLIBERTY RESOURCES MANAGEMENT COMPANY, LLC\n, \nMCGINNITY E\n \n159\n-\n95\n-\n31\n-\n30\n-\n1MBH\n, \nN\nE\nN\nE\n, \n6\n-\n1\n60\nN\n-\n9\n5\nW, \nWILLIAMS\n, \n3\n00\n\nN\nL AND \n1195\n\nW\nL, DEVELOPMENT,\n\nNORTHWEST \nMCGREGOR\n, 2\n3\n84\n\n-\n105\n-\n05451\n \n \nADDITIONAL INFORMATI\nON:\n \n\n\n \n#28114 \n-\n \nSLAWSON EXPLORATION COMPANY, INC., SNIPER FEDERAL 7\n-\n6\n-\n7TFH, LOT2 6\n-\n151N\n-\n92W, MOUNTRAIL CO., BAKKEN\n \n#34601 \n-\n \nMARATHON OIL COMPANY, SALVESON USA 24\n-\n21H, NENW 28\n-\n151N\n-\n93W, MOUNTRAIL \nCO., BAKKEN\n \n#35052 \n-\n \nWHITING OIL AND GAS CORPORATION, LASSEY 21\n-\n22\n-\n2H, NENW 27\n-\n152N\n-\n103W, \nMCKENZIE CO., 2376 bopd, 4200 bwpd \n-\n \nBAKKEN\n \n#35478 \n-\n \nNINE POINT ENERGY, LLC, NORDTUG 155\n-\n102\n-\n23\n-\n14\n-\n3H, SWSE 23\n-\n155N\n-\n102W, WILLIAMS \nCO., 595 bopd, 1707 bwpd \n-\n \nBAKKEN\n \n#35479 \n-\n \nNINE POINT ENERGY, LLC, NORDTUG 155\n-\n102\n-\n23\n-\n14\n-\n2H, SWSE 23\n-\n155N\n-\n102W, WILLIAMS \nCO., 205 bopd, 748 bwpd \n-\n \nBAKKEN\n \n#36546 \n-\n \nWHITING OIL AND GAS CORPORATION, HAUGE 44\n-\n36HU, SESE 36\n-\n1\n53N\n-\n91W, \nMOUNTRAIL CO., 1227 bopd, 323 bwpd \n-\n \nBAKKEN\n \n#36726 \n-\n \nWPX ENERGY WILLISTON, LLC, SKUNK CREEK  1\n-\n12HQL, LOT2 1\n-\n148N\n-\n93W, DUNN CO., \nBAKKEN\n \n \nPRODUCING WELLS COMP\nLETED:\n \n#34382 \n-\n \nBURLINGTON RESOURCES OIL & GAS COMPANY LP, VEEDER   3C MBH, SESW 24\n-\n150N\n-\n9\n6W, MCKENZIE CO.,  BOPD,  BWPD \n-\n \n \n#36286 \n-\n \nBURLINGTON RESOURCES OIL & GAS COMPANY LP, VEEDER 3E MBH, SESW 24\n-\n150N\n-\n96W, MCKENZIE CO.,  BOPD,  BWPD \n-\n \n \n#35912 \n-\n \nCONTINENTAL RESOURCES, INC., JAMESTOWN FEDERAL 14\n-\n17HSL1, NWNW 16\n-\n152N\n-\n99W, MCKENZIE CO.,  BOPD,  \nBWPD \n-\n \n \n#36287 \n-\n \nBURLINGTON RESOURCES OIL & GAS COMPANY LP, VEEDER 3D TFH, SESW 24\n-\n150N\n-\n96W, MCKENZIE CO.,  BOPD,  BWPD \n-\n \n \n#33183 \n-\n \nBURLINGTON RESOURCES OIL & GAS COMPANY LP, FRANKLIN 44\n-\n36TFH, SESE 36\n-\n147N\n-\n97W, DUNN CO.,  BOPD,  BWPD \n-\n \n \n#35913 \n-\n \nCONTINENT\nAL RESOURCES, INC., WAHPETON 15\n-\n16HSL, NWNW 16\n-\n152N\n-\n99W, \nMCKENZIE CO.,  BOPD,  BWPD \n\n \n \nPERMIT RENEWALS:\n \n#90440 \n-\n \nOASIS PETROLEUM NORTH AMERICA LLC, CHERYL SWD 5501 44\n-\n09, SESE 9\n-\n155N\n-\n101W, \nWILLIAMS CO.\n \n \n \n \n \n \n'

The info above can now be manipulated as easily as one would in notepad,but it can also be saved as a pdf again after editing.  As a matter of fact, one of the powers of this module is we can take multiple pdfs and cut and paste different pieces into a new pdf with relative ease.  Reference Automate the boring stuff with Python in your ebooks for more info

working with excel files is as easy as working with CSV files.  In the example at the beginning of the page, I transformed a spreadsheet into a csv file in order to play with my newly learned skill.  Below is a more efficient method of working with excel files instead of saving them as csv files, but both methods work.

In [78]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [81]:
xfile = pd.ExcelFile('NumpyCsvTraining.xlsx')

It is important to note that until you assing the variable holding the .method of the excel file to another variable (dframe=xfile.parse()), you can't just call it because it isn't correctly parsed.  The csv method automatically did this for you when it read the csv.  I think that along with the lack of proprietary feel of xlsx. files explains why people still use generic csv files today.  Just a hunch ....

In [82]:
dframe = xfile.parse()

In [83]:
dframe

,Unnamed: 0,Timestamp,CAM OPERATOR BADGE#,SCAN CASE NUMBER,DEFECT CATEGORY,DEFECT DESCRIPTION,LOCATION WHEN DAMAGED WAS NOTICED
0,0,3/2/2020 6:52:14,TSCHAFFER,SARA101520007444,LOST / MISSING,MISSING DURING MATCHING,IN CAM
1,1,3/2/2020 10:00:53,ABEVELL,ROLO101520006852,BROKEN / CHIPPED / CRACKED,CRACKED,POST CAM
2,2,3/2/2020 10:39:19,ABEVELL,ROLO101520007525,BROKEN / CHIPPED / CRACKED,BROKEN,POST CAM
3,3,3/2/2020 11:08:36,ABEVELL,ROLO101520007525,BROKEN / CHIPPED / CRACKED,BROKEN,POST CAM
4,4,3/2/2020 11:51:18,ABEVELL,ROLO101520007847,MILLING / NESTING ERROR,CHIPPED IN MILL,IN CAM
...,...,...,...,...,...,...,...
295,295,3/27/2020 8:47:29,TSCHAFFER,ROLO101520010886,SHADE / MATERIAL INCORRECT or CHANGED,TOO OPAQUE,POST CAM
296,296,3/28/2020 9:00:17,jsmolen,ROLO101520009404,"FIT -- tight, loose, rocks, etc., etc., ...",pooor fit,POST CAM
297,297,3/28/2020 9:14:56,jsmolen,ROLO101520010886,OTHER,opaque,POST CAM
298,298,3/28/2020 9:50:45,jsmolen,SARA101520010971,OTHER,opaque,POST CAM
299,299,3/28/2020 10:53:52,jsmolen,SARA101520010971,BROKEN / CHIPPED / CRACKED,puck broke in mill,IN CAM